<h2>Products:</h2>

<%= link_to 'New Product', new_product_path %>

<% @products.each do |product| %>
  <%= link_to product_path(product.id), class: 'product' do %>
    <h3 class="name"><%= product.name %></h3>
  <% end %>
  <p class="description"><%= product.description %></p>
  <p class="price"><span>$. </span><%= product.price %></p>
<% end %>